[submodule "DepthCrafter"]
	path = DepthCrafter
	url = https://github.com/Tencent/DepthCrafter.git
[submodule "Video-Depth-Anything"]
	path = Video-Depth-Anything
	url = https://github.com/DepthAnything/Video-Depth-Anything.git
